[run]
branch = True
source = js.jquery_datatables_plugins

[report]
precision = 2

[html]
directory = coverage-report

[paths]
source =
   js/jquery_datatables_plugins
   .tox/*/lib/python*/site-packages/js/jquery_datatables_plugins
